html, body {
  width: 100%;
  height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background: #020309;
  max-width: 100%;
  overflow: hidden;
  color: white;
}
h3 {
  margin-top: -25px;
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.title_screen_wrapper {
  background: #1a237e;
  width: 100%;
  height: 100vh;
}

.title_screen {
  width: 90vw;
}

.playbutton {
  position: absolute;
  width: 18%;
  left: 50%;
  top: 26vw;
}

.chatwindow {
  border: 1px solid white;
  position: absolute;
  width: 20%;
  height: 40%;
  top: 24vh;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatwindow .sendbutton {
  display: none;
  width: 100%;
}

.playersonline {
  position: absolute;
  width: 20%;
  top: 24vh;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playersonline p {
  margin: 0;
}

.chatwindow h3 {
  margin: 0;
}

.chatwindow .messages {
  height: 90%;
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatwindow .messages p {
  margin: 0;
}

.chatwindow .messages p .player {
  color: red;
}
.chatwindow .messages p .action {
  color: green;
}


.chatwindow .chatinput {
  width: 98%;
  font-family: 'Amatic SC', cursive;
  font-size: 1.3em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.entercode {
  position: absolute;
  width: 27%;
  left: 20%;
  top: 33vw;
}

.multiplayer, .nameentry {
  position: absolute;
  width: 25%;
  left: 20%;
  top: 35vw;
  height: 7%;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  background-color: rgba(255, 255, 255, .9);
}

.code {
  font-family: monospace;
  font-size: 1.5em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.nameentry {
  top: 27vw;
}

.playbutton:hover, .entercode:hover {
  opacity: .6;
  transform: scale(1.1);
}

.App {
  text-align: center;
  height: 90vh;
  font-size: calc(7px + 2vmin);
}

@media only screen and (max-width: 900px) {
  .controls_info {
    display: none;
  }
  .chatwindow {
    left: 2%;
  }
  .playersonline {
    left: auto;
    right: 2%;
    top: 33vh;
  }
  .chatwindow .sendbutton {
    display: block;
  }
}