html, body {
  width: 100%;
  height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background: #020309;
  max-width: 100%;
  overflow: hidden;
  color: white;
}
.logo h3 {
  margin-top: -25px;
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.title_screen_wrapper {
  background: #1a237e;
  width: 100%;
  height: 100vh;
}

.title_screen {
  width: 90vw;
}

.playbutton {
  position: absolute;
  width: 18%;
  left: 20%;
  top: 32vw;
}

.chooseplaymode {
  position: absolute;
  top: 10vw;
  left: 10%;
  width: 70%;
  max-height: 50%;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 300;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chooseplaymode > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 1rem;
  flex: 1;
}

.chooseplaymode h2 {
  font-family: 'Pixeled', cursive;
  font-size: .8em;
  text-transform: uppercase;
}

.chooseplaymode div .list {
  height: 20vw;
  overflow: scroll;
}

.chooseplaymode sup {
  opacity: 0.6;
}

.chooseplaymode .room, .chooseplaymode .roomselected {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.roominfo {
  text-align: left;
  width: 80%;
}

.roomselected {
  background: #1a237e;
}

.startplaying {
  font-size: 1em;
  font-family: 'Free Pixel', cursive;
}

.chatwindow {
  position: absolute;
  width: 20%;
  height: 40%;
  top: 24vh;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatwindow .sendbutton {
  display: none;
  width: 100%;
}

.playersonline {
  position: absolute;
  width: 20%;
  top: 24vh;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playersonline p {
  margin: 0;
}

.chatwindow h3, .playersonline h3 {
  background: #1a237e;
  font-family: 'Pixeled', cursive;
  font-size: .6em;
  margin-bottom: 1rem;
  width: 100%;
}

.chatwindow .messages {
  height: 90%;
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatwindow .messages p {
  margin: 0;
}

.chatwindow .messages p .player, .startedby {
  color: red;
}
.chatwindow .messages p .action {
  color: green;
}


.chatwindow .chatinput {
  width: 98%;
  font-family: 'Free Pixel', cursive;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid #1a237e;
  color: white;
}

.multiplayer, .nameentry {
  height: 7%;
  font-size: 1.1em;
  margin-bottom: 1rem;
  font-family: 'Free Pixel', cursive;
  background-color: rgba(255, 255, 255, .9);
}

.code {
  font-family: monospace;
  font-size: 1.5em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 10rem;
}

.nameentry {
  top: 27vw;
}

.playbutton:hover {
  opacity: .6;
  transform: scale(1.1);
}

.App {
  text-align: center;
  height: 90vh;
  font-size: calc(7px + 2vmin);
}

.logo {
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .controls_info {
    display: none;
  }
  .chatwindow {
    left: 2%;
    top: 45vh;
    border: 1px solid #666;
    border-radius: .5rem;
  }
  .playersonline {
    left: 2%;
    top: 26vh;
    border: 1px solid #666;
    border-radius: .5rem;
  }
  .chatwindow .sendbutton {
    display: block;
  }
  .code {
    font-family: monospace;
    font-size: 1em;
    background-color: transparent;
    width: 5rem;
  }
}