html, body {
  width: 100%;
  height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background: #020309;
  max-width: 100%;
  overflow: hidden;
  color: white;
}
h3 {
  margin-top: -25px;
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.title_screen_wrapper {
  background: #1a237e;
  width: 100%;
  height: 100vh;
}

.title_screen {
  width: 90vw;
}

.playbutton {
  position: absolute;
  width: 18%;
  left: 20%;
  top: 33vw;
}

.playbutton:hover {
  opacity: .6;
  transform: scale(1.1);
}

.App {
  text-align: center;
  height: 90vh;
  font-size: calc(7px + 2vmin);
}