.key {
    margin-top: 3%;
    margin-left: 1%;
    width: 4%;
}

header span {
    white-space: nowrap;
}

header span .key {
    width: 20%;
    margin: 0;
}

.portal {
    width: 7%;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skott {
    margin-left: 3%;
    margin-top: 3%;
    width: 1%;
    height: 4%;
}

.gun-button {
    position: absolute;
    width: 15%;
    top: 60%;
    left: 10%;
    opacity: .3;
}
.gun-button:hover {
    opacity: .7;
}

.move-button {
    position: absolute;
    width: 8%;
    min-width: 70px;
    opacity: .3;
}
.move-button:hover {
    opacity: .7;
}

.move-button.up{
    transform: rotate(270deg);
    top: 45%;
    right: 15%;
}

.move-button.left {
    transform: rotate(180deg);
    top: 60%;
    right: 25%;
}
.move-button.right {
    top: 60%;
    right: 5%;
}
.move-button.down {
    transform: rotate(90deg);
    top: 75%;
    right: 15%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-10%) rotate(-5deg); } 
    30% { transform: translateX(7%) rotate(3deg); } 
    45% { transform: translateX(-5%) rotate(-3deg); } 
    60% { transform: translateX(3%) rotate(2deg); }
    75% { transform: translateX(-1%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
}

@keyframes pulsate {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgb(146, 41, 191);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes fire {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(206, 85, 33, .3);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes bomb_glow {
    0% {
        border: 2px dashed transparent;
    }
    50% {
        border: 2px dashed white;
    }
    100% {
        border: 2px dashed transparent;
    }
}

.coin {
    width: 4%;
    height: 10%;
    margin-left: 2%;
}

.powerup {
    width: 6%;
    height: 12%;
    margin-left: 1%;
}

.door {
    margin-top: 4%;
    width: 7%;
    transition: 1s ease-in-out;
}
.door.open {
    margin-top: 6%;
    transform: rotate(45deg);
}

.block {
    width: 7%;
    height: 14%;
}

.block img {
    position: absolute;
}

.shield {
    width: 7%;
    height: 12%;
}

.bomb {
    margin-top: 1%;
    margin-left: 0%;
    width: 7%;
    height: 10%;
    border: 2px dashed transparent;
}

.bomb.active {
    animation-name: wobble;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .5s ease-in-out;
}

.laser {
    width: 4%;
    margin-left: 2%;
    animation-name: pulsate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .5s ease-in-out;
}

.fackla {
    animation-name: wobble;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .5s ease-in-out;
}


.button {
    width: 7%;
    height: 6%;
}


.cannon {
    width: 5%;
    height: 10%;
    margin-left: 1%;
    margin-top: 0%;
}

.cannon_2 {
    margin-left: 1%;
    width: 5%;
    height: 7%;
}

@media only screen and (min-width: 900px) {
    .move-button, .gun-button {
        display: none;
    }
}