.red {
  width: 20px;
  height: 20px;
  background: orangered;
  box-shadow: 0px 0px 5px 2.5px orangered;
}
.orange {
  left: 2.5px;
  width: 15px;
  height: 15px;
  background: orange;
  box-shadow: 0px 0px 6px 3px orange;
}
.gold {
  left: 4.5px;
  width: 12px;
  height: 12px;
  background: gold;
  box-shadow: 0px 0px 4px 2px gold;
}
.white {
  left: 6px;
  width: 9px;
  height: 9px;
  background: lightyellow;
  box-shadow: 0px 0px 4px 2px lightyellow;
}

.fire-wrapper {
  position: absolute;
  animation: flicker 3ms ease-in infinite;
}
.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}
@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    transform: rotate(1deg);
  }
}
