.gubbe {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    box-sizing: border-box;
}

.isHurt {
    opacity: .7;
}

.gubbe img {
    width: 100%;
}

.hasShield {
    border-top: 7px solid #9e7162;
    border-radius: 1rem;
}

.nametag {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    margin-top: -30px;
    padding: .1rem .5rem;
    color: #fff;
    text-shadow: 2px 2px #123;
    text-transform: uppercase;
    font-size: .5em;
    font-family: 'Pixeled', cursive;
    z-index: 3000;
}