body {
  margin: 0;
  font-family: 'Free Pixel', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Free Pixel';
  src: url('FreePixel-Regular.woff2') format('woff2'),
      url('FreePixel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pixeled';
  src: url('Pixeled.woff2') format('woff2'),
      url('Pixeled.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
